.tallTextArea {height:500px;}

.filterWrapper {
    padding: 5px;
}

h4 {
    margin-top: 1.33em;
    margin-bottom: 1em;
    font-size: 1em;
}

hr {
    border: 0;
    height: 1px !important;
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0), rgba(128, 128, 128, 0.75), rgba(128, 128, 128, 0));
}
.troopCard hr {
    margin-top: 5em;
}

.checkboxBackHalf {
    margin-top: 3em;
}

.pullRight {
    float:right !important;
}

#troopView {
	margin-bottom: 15%;
}

#trooplist a {text-decoration: none; color: #3d3d3d;}

.tableImage {
	width: 45px;
	height: 45px;
}

.troopInfo {
    background-color:#f9f9f9;
    padding: 5px;
}

.spellCard {
    background-color:#dadada;
    padding: 5px;
}

.commonTroop {background-color:#F2F2F2 !important;}
.epicTroop {background-color:#BCA9F5 !important;}
.legendaryTroop {background-color:#F5DA81 !important;}
.rareTroop {background-color:#CEF6CE !important;}
.ultra-rareTroop {background-color:#A9D0F5 !important;}

.commonRarity {}
.epicRarity {color:#BCA9F5 !important;}
.legendaryRarity {color:#F5DA81 !important;}
.rareRarity {color:#CEF6CE !important;}
.ultra-rareRarity {color:#A9D0F5 !important;}

.troopProgression th, .troopProgression td{
    text-align: center !important;
}

dl.troopData{
    width:100%;
    overflow:hidden;
}

dl.troopData dt {
    font-weight:600;
    float:left;
    width:35%;
    clear:both;
    padding:0;
    padding-bottom:3px;
    position:relative;
    text-align: right;
}
dl.troopData dt:after {
	content:':';
}

dl.troopData dd {
    float:right;
    width:63%;
    padding:0;
    padding-bottom:3px;
    margin-left:0;
}

dl.troopData dd {
    *float:none;
    *width:auto;
    *margin-left:37%;
}
