.tallTextArea {height:500px;}

.pullRight {
    float:right !important;
}

#troopView {
	margin-bottom: 15%;
}

#trooplist a {text-decoration: none; color: #3d3d3d;}

.tableImage {
	width: 45px;
	height: 45px;
}

.commonTroop {background-color:#F2F2F2 !important;}
.epicTroop {background-color:#BCA9F5 !important;}
.legendaryTroop {background-color:#F5DA81 !important;}
.rareTroop {background-color:#CEF6CE !important;}
.ultra-rareTroop {background-color:#A9D0F5 !important;}

.troopProgression th, .troopProgression td{
    text-align: center !important;
}

dl.troopData{
    width:100%;
    overflow:hidden;
}

dl.troopData dt {
    font-weight:600;
    float:left;
    width:35%;
    clear:both;
    padding:0;
    padding-bottom:3px;
    position:relative;
    text-align: right;
}
dl.troopData dt:after {
	content:':';
}

dl.troopData dd {
    float:right;
    width:63%;
    padding:0;
    padding-bottom:3px;
    margin-left:0;
}

dl.troopData dd {
    *float:none;
    *width:auto;
    *margin-left:37%;
}
